.header {
  background-color: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  &__text-box {
    // align-items: center;
    // justify-content: center;
  }
}
