.portfolio {
  height: 56rem;

  display: flex;
  flex-direction: column;

  &__row {
    flex: 1;
    display: flex;
  }

  &__box {
    background-color: green;
    border: 1px solid black;

    flex: 1;
  }
}
