.services {
  height: 40rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  // align-items: center;

  // &__box {
  //   background-color: blue;
  //
  //   width: 25%;
  //
  //   display: flex;
  //   align-items: center;
  // }

  &__card {
    // background-color: red;

    width: 20rem;
    // height: 20rem;
    // width: 95%;
    // margin-left: auto;
    // margin-right: auto;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    &--front {
      background-color: #1abc9c;
      // width: 100%;
      height: 20rem;
      transform: translateY(10rem);
      // box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
      position: relative;
      z-index: 1;
      transition: 0.5s;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--back {
      background-color: $color-white;
      color: #495057;
      height: 20rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
      transform: translateY(-10rem);
      transition: 0.5s;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover &--front {
      transform: translateY(0);
      background-color: #fed136;;
    }

    &:hover &--back {
      transform: translateY(0);
    }

    &--text {
      width: 90%;
      font-size: 1.5rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0.75rem;
    opacity: 0.5;
    transition: 0.5s;
  }

  &__card:hover &__title {
    opacity: 1;
  }

  &__icon {
    // background-color: purple;
    font-size: 9rem;
    opacity: 0.5;
    transition: 0.5s;
  }

  &__card:hover &__icon {
    opacity: 1;
  }
}
