body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  font-size: 7.5rem;
  font-weight: 400;

  &--main {
    color: #fed136;
  }
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  // color: #2c3e50;
}

.paragraph {
  max-width: 65rem;
  font-size: 1.6rem;
  color: #495057;
}
