.section-about {
  // background-color: green;
  color: #2c3e50;
  padding: 10rem 0 12rem;

  // display: flex;
  // // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.section-services {
  background-color: #1abc9c;
  color: $color-white;
  padding: 10rem 0 12rem;

  // display: flex;
}

.section-portfolio {
  // background-color: purple;
  color: #2c3e50;
  padding: 10rem 0 12rem;
  // height: 100rem;

  // display: flex;
}

.section-contact {
  background-color: #1abc9c;
  color: $color-white;
  padding: 10rem 0 12rem;
  // height: 100vh;
}
